## MAC files ##
.DS_Store

## NPM ##
npm
npm-debug.log
node_modules/

pids
*.pid
logs
*.log

# Compiled Dirs (http://nodejs.org/api/addons.html)
build/
env/setup.js
env/ham-keys.pem 

# Fake data files
database-mysql/fake-data
database-mongo/fake-data


